---
import Sheet from '../layouts/Sheet.astro';
import SheetCell from '../components/SheetCell.astro'; 
import Navbar from '../components/Navbar.astro'; 
import ColumnLabels from '../components/ColumnLabels.astro'; 

// cell data
const cells = [
    [
        {content: "1", styleNotes: "numbering"}, 
        {content: "You can contact me through any of the below methods. I am typically most responsive over email and slack! ", 
        styleNotes:"center"}
    ], 
    [
        {content: "2", styleNotes: "numbering"}, 
        {content: "Email", styleNotes: "label"}, 
        {content: "charmwoodrum@gmail.com", styleNotes: "email"}, 
    ], 
    [
        {content: "3", styleNotes: "numbering"}, 
        {content: "Slack handle (for teens in Hack Club)", styleNotes: "label"}, 
        {content: "@chaook"}
    ], 
    [
        {content: "4", styleNotes: "numbering"}, 
        {content: "LinkedIn", styleNotes: "label"}, 
        {content: "https://www.linkedin.com/in/charlotte-woodrum-557900370/", styleNotes: "link"}
    ]
]
---
<Sheet>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <ColumnLabels letters="AB" />
    {cells.map((row) => (
        <div class="row" style={`display: grid; grid-template-columns: 35px repeat(${row.length-1}, 1fr); font-size: 12px; `}>
            {row.map((cell) => {
                const content = cell.content !== undefined ? cell.content : cell; 
                const styleNotes = cell.styleNotes !== undefined ? cell.styleNotes : cell; 
                return <SheetCell content={content} styleNotes={styleNotes}></SheetCell>
            })}
        </div>
    ))}
    <Navbar activePage="Contact"></Navbar>
</Sheet>