---
import Sheet from '../layouts/Sheet.astro';
import SheetCell from '../components/SheetCell.astro'; 

// info for about
const aboutMe = {
    firstName: "Charlotte", 
    grade: "11th", 
    hobbies: [["coding"], ["running"], ["organization!"]], 
    careers: [["software engineering"], ["ai engineering"]]
}

const experience = {
    high: [["HTML"], ["CSS"], ["Python"], ["Flask"]], 
    medium: [["Godot"], ["React"], ["Javascript"]], 
    exploring: [["Pytorch"], ["Astro"], ["Svelte"]]
}

// cell data
const cells = [
    [["Hello! Welcome to my excel/google sheets-inspired website. "]], [["Name"], [aboutMe.firstName], [], []], [["Grade"], [aboutMe.grade], [], []], [["Hobbies"], ...aboutMe.hobbies], [["Careers"], ...aboutMe.careers, []], 
    [[]], 
    [["Experience"]], 
    [["High"], ...experience.high], 
    [["Medium"], ...experience.medium, []], 
    [["Exploring"], ...experience.exploring, []]

]
---
<Sheet>
    <!--iterates thru every row -->
    <style>
    </style>
    {cells.map((row) => (
        <div class="row" style={`display: grid; grid-template-columns: repeat(${row.length}, 1fr); `}>
            {row.map((cell) => (
                <SheetCell content={cell}></SheetCell>
            ))}
        </div>
    ))}
</Sheet>