---
import Sheet from '../layouts/Sheet.astro';
import SheetCell from '../components/SheetCell.astro'; 
import Navbar from '../components/Navbar.astro'; 
import ColumnLabels from '../components/ColumnLabels.astro'; 

// info for about
const aboutMe = {
    firstName: "Charlotte", 
    grade: "11th", 
    hobbies: [["Coding"], ["Running"], ["Organization!"]], 
    careers: [["Software Engineering"], ["AI Engineering"]]
}

const experience = {
    high: [["HTML"], ["CSS"], ["Python"], ["Flask"]], 
    medium: [["Godot"], ["React"], ["Javascript"]], 
    exploring: [["Pytorch"], ["Astro (this website!)"], ["Svelte"]]
}

// cell data
const cells = [
    [
        {content: "1", styleNotes: "numbering"}, 
        {content: "Hello! Welcome to my excel/google sheets-inspired personal website. ", 
        styleNotes:"center"}
    ], 
    [
        {content: "2", styleNotes: "numbering"}, 
        {content: "Name", styleNotes: "label"}, 
        {content: aboutMe.firstName}, 
        [], [], []
    ], 
    [
        {content: "3", styleNotes: "numbering"}, 
        {content: "Grade", styleNotes: "label"}, 
        {content: aboutMe.grade}, 
        [], [], []
    ], 
    [
        {content: "4", styleNotes: "numbering"}, 
        {content: "Hobbies", styleNotes: "label"}, ...aboutMe.hobbies, 
        []
    ], 
    [
        {content: "5", styleNotes: "numbering"}, 
        {content: "Careers", styleNotes: "label"}, ...aboutMe.careers, 
        [], []
    ],
    [{content: "7", styleNotes: "numbering"},{content: "Experience", styleNotes: "center"}], 
    [{content: "8", styleNotes: "numbering"}, {content: "High", styleNotes: "label"}, ...experience.high], 
    [{content: "9", styleNotes: "numbering"}, {content: "Medium", styleNotes: "label"}, ...experience.medium, []], 
    [{content: "10", styleNotes: "numbering"}, {content: "Exploring", styleNotes: "label"}, ...experience.exploring, []], 
    [{content:"11", styleNotes: "numbering"}, {content: "This website is open source! check it out at https://github.com/108charlotte/personal-website-v2"}]
]
---
<Sheet>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <ColumnLabels letters="ABCDE" />
    {cells.map((row) => (
        <div class="row" style={`display: grid; grid-template-columns: 35px repeat(${row.length-1}, 1fr); font-size: 12px; `}>
            {row.map((cell) => {
                const content = cell.content !== undefined ? cell.content : cell; 
                const styleNotes = cell.styleNotes !== undefined ? cell.styleNotes : cell; 
                return <SheetCell content={content} styleNotes={styleNotes}></SheetCell>
            })}
        </div>
    ))}
    <Navbar activePage="About"></Navbar>
</Sheet>