---
const {numRows} = Astro.props; 
const width = 100/numRows; 
---

<div id="container" style={`width: ${width}vw; height:20px;`}>
    <style>
        div {
            border: 2px solid lightgray; 
        }
    </style>
    <slot></slot>
</div>