---
const {content, styleNotes} = Astro.props; 
---

<div id="container" class={styleNotes}>
    <style>
        div {
            border: 2px solid lightgray; 
            display: inline-block; 
            margin: -1px; 
            box-sizing: border-box; 
        }
        p {
            margin: 0.5rem; 
            position: relative; 
            display: flex; 
        }
        div.center p {
            justify-content: center; 
        }
        .label {
            background-color: rgb(240, 240, 240); 
        }
        div.numbering p {
            justify-content: center; 
            color: rgb(86, 86, 86); 
        }
    </style>
    <p>{content}</p>
</div>