---
const {content} = Astro.props; 
---

<div id="container">
    <style>
        div {
            border: 2px solid lightgray; 
            display: inline-block; 
            margin: -1px; 
            box-sizing: border-box; 
        }
        p {
            margin: 0.5rem; 
            position: relative; 
            display: flex; 
            justify-content: center; 
        }
    </style>
    <p>{content}</p>
</div>