<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<title>Charlotte's Sheet</title>
        <style>
            * {
                font-family: Inter, monospace; 
            }
            header {
                margin: 0; 
                padding: 0.75rem; 
                background-color: rgb(250, 250, 250); 
            }

            h1 {
                margin: 0px; 
                font-size: 1rem; 
                font-weight: normal; 
                margin-left: 0.5rem; 
            }

            nav div {
                margin: 0px; 
                style: inline-block; 
                background: rgb(220, 220, 220); 
            }
            html,
            body {
                margin: 0;
                width: 100%;
                height: 100%;
            }
            html, body {
                overflow-x: hidden; 
            }
        </style>
	</head>
	<body>
        <header>
            <img src="/favicon.svg" width="30px" style="display: inline-block; vertical-align: middle; " alt="A hand-drawn computer logo with the text CW.dev displayed on the screen">
            <h1 style="display: inline-block; vertical-align: middle; ">Charlotte's Sheet</h1>
        </header>
        <main>
		    <slot />
        </main>
	</body>
</html>